<app-nav></app-nav>
<section style="margin-top: 20px;margin-bottom: 20px;">
  <div class="container-fluid">
    <div class="card" id="TableSorterCard">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped table tablesorter" id="ipi-table">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center" colspan="3">{{show.name}}</th>
                </tr>
                <tr>
                  <th class="text-center">Numéro de l'épisode</th>
                  <th class="text-center">date de diffusion</th>
                  <th class="text-center filter-false sorter-false">Action</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let episode of episodes">
                  <td *ngIf="show.id == episode.showID">{{episode.number}}</td>
                  <td *ngIf="show.id == episode.showID">{{episode.releaseDate | date : 'dd/MM/YYYY'}}</td>
                  <td id={{episode.id}} style="cursor: pointer;font-weight: bold;" *ngIf="show.id == episode.showID"><span>Supprimer</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
