<footer class="text-center bg-dark">
  <div class="container text-white py-4 py-lg-5">
    <ul class="list-inline">
      <li class="list-inline-item me-4"><a class="link-light" href="home"><br><span style="color: var(--bs-navbar-active-color);">Accueil</span><br></a></li>
      <div class="d-inline-block">
      <li class="list-inline-item me-4"><a class="link-light" href="clients"><br><span style="color: var(--bs-nav-link-hover-color);">Clients</span><br></a></li>
      <li class="list-inline-item me-4"><a class="link-light" href="team"><br><span style="color: var(--bs-nav-link-hover-color);">Team</span><br></a></li>
      <li class="list-inline-item me-4"><a class="link-light" href="revues"><br><span style="color: var(--bs-nav-link-hover-color);">Revues</span><br></a></li>
  </div>
  <li class="list-inline-item"><a class="link-light" href="profile"><br><span style="color: var(--bs-nav-link-hover-color);">Profil</span><br></a></li>
  </ul>
  <ul class="list-inline"></ul>
  <p class="mb-0">Copyright © 2022 HELHa Mag</p>
  </div>
</footer>
